@mixin blur($amt){
  -webkit-filter: blur($amt);
  -moz-filter: blur($amt);
  -o-filter: blur($amt);
  -ms-filter: blur($amt);
  filter: blur($amt);
}

@mixin transition($property, $time){
  -webkit-transition: $property $time;
  -moz-transition: $property $time;
  -o-transition: $property $time;
  -ms-transition: $property $time;
  transition: $property $time;
}

@mixin box-shadow($x, $y, $blur, $spread, $color){
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  -o-box-shadow: $x $y $blur $spread $color;
  -ms-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}

@mixin box-shadow-inset($inset, $x, $y, $blur, $color){
  -webkit-box-shadow: inset $inset $x $y $blur $color;
  -moz-box-shadow: inset $inset $x $y $blur $color;
  -o-box-shadow: inset $inset $x $y $blur $color;
  -ms-box-shadow: inset $inset $x $y $blur $color;
  box-shadow: inset $inset $x $y $blur $color;
}

/////////////
// Profile //
/////////////

.bg-image{
  background-color: white;
  background-image: url("../images/bg blur.jpg");
  background-size: cover;
  background-position: center;
}

.profile{
  color: white;
  margin: 100px 0 50px 0;
}

#profile-picture{
  height: 200px;
  width: 200px;
  border: 2px white solid;
  @include box-shadow(3px, 3px, 10px, 0px, rgba(0, 0, 0, 0.5));
}

.button-container{
  display: inline-table;
}

form{
  float: left;

  input{
    height: 50px;
    width: 100px;
    margin: 5px;
    color: white;
    border: 1px white solid;
    background-color: rgba(255, 255, 255, .2);
    @include transition(background-color, .2s);
  }

  input:hover{
    background-color: rgba(255, 255, 255, .3);
  }

  input:focus{
    outline: 1px white solid;
  }
}

////////////////////////
// jQuery UI Override //
////////////////////////

.ui-tooltip {
  @include box-shadow(0px, 0px, 10px, 0px, rgba(0, 0, 0, 0.3));
}

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: inherit;
}

.ui-widget-content {
  border: none;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-radius: 0px;
}

//////////
// Main //
//////////

.main{
  @include box-shadow(0, -20px, 50px, -10px, black);
  padding: 25px 0 75px 0;
}

///////////
// About //
///////////

.icon{
  height: 40px;
  width: 40px;
  margin: 10px;
  padding: 5px;
  background-color: #fafafa;
  // @include box-shadow-inset(0px, 0px, 10px, 0px, rgba(0, 0, 0, 0.3));
  @include box-shadow(0px, 0px, 10px, 0px, rgba(0, 0, 0, 0.3));
}

//////////////
// Projects //
//////////////

.projects-container > div{
  margin-bottom: 30px;
}

.image-container{
  text-align: left;
}

.image-container > form > input, img{
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
}

.expand{
  display: none;
}

////////////
// Footer //
////////////

.footer{
  // margin-top: 75px;
}
