@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

////////////
// mixins //
////////////

@mixin blur($amt){
  -webkit-filter: blur($amt);
  -moz-filter: blur($amt);
  -o-filter: blur($amt);
  -ms-filter: blur($amt);
  filter: blur($amt);
}

@mixin transition($property, $time){
  -webkit-transition: $property $time;
  -moz-transition: $property $time;
  -o-transition: $property $time;
  -ms-transition: $property $time;
  transition: $property $time;
}

@mixin rotate($deg){
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin scale($factor){
  -webkit-transform: scale($factor);
  -moz-transform: scale($factor);
  -o-transform: scale($factor);
  -ms-transform: scale($factor);
  transform: scale($factor);
}

@mixin box-shadow($x, $y, $blur, $spread, $color){
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  -o-box-shadow: $x $y $blur $spread $color;
  -ms-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}

@mixin box-shadow-inset($inset, $x, $y, $blur, $color){
  -webkit-box-shadow: inset $inset $x $y $blur $color;
  -moz-box-shadow: inset $inset $x $y $blur $color;
  -o-box-shadow: inset $inset $x $y $blur $color;
  -ms-box-shadow: inset $inset $x $y $blur $color;
  box-shadow: inset $inset $x $y $blur $color;
}

@mixin drop-shadow($x, $y, $blur, $color){
  -webkit-filter: drop-shadow($x $y $blur $color);
  -moz-filter: drop-shadow($x $y $blur $color);
  -o-filter: drop-shadow($x $y $blur $color);
  -ms-filter: drop-shadow($x $y $blur $color);
  filter: drop-shadow($x $y $blur $color);
}

@mixin linear-gradient($color1, $color2){
  background: -webkit-linear-gradient($color1, $color2);
  background: -moz-linear-gradient($color1, $color2);
  background: -o-linear-gradient($color1, $color2);
  background: -ms-linear-gradient($color1, $color2);
  background: linear-gradient($color1, $color2);
}

//////////////
// document //
//////////////

body {
  font-family: "Droid Sans", "Helvetica-Neue", Helvetica, sans-serif;
}

@media only screen and (max-width: 768px){
  h1, h2{
    text-align: center;
  }
}

///////////////
// bootstrap //
///////////////

.btn {
  border-radius: 0;

}

/////////////
// profile //
/////////////

.bg-image{
  background-color: white;
  background-image: url("../images/site/bg blur.jpg");
  background-size: cover;
  background-position: center;
}

.profile{
  color: white;
  margin: 100px 0 50px 0;
}

#profile-picture{
  height: 200px;
  width: 200px;
  border: 2px white solid;
}

.button-container{
  display: inline-table;
}

.profile-button{
  float: left;

  input{
    width: 100px;
    height: 50px;
    color: white;
    background-color: rgba(255, 255, 255, .2);
    margin: 5px;
    border: 1px white solid;
    @include transition(background-color, .2s);
    @extend .shadow;

    &:hover{
      background-color: rgba(255, 255, 255, .3);
    }

    &:focus{
      outline: 1px white solid;
    }
  }
}

////////////////////////
// jQuery UI override //
////////////////////////

.tooltip-inner {
	border-radius: 0;
}

////////////////////////
// Bootstrap override //
////////////////////////

.well{
  border-radius: 0;
}

//////////
// main //
//////////

.main{
  @include box-shadow(0, -20px, 40px, -10px, black);
  padding: 25px 0 75px 0;
}

///////////
// about //
///////////

.icon{
  height: 40px;
  width: 40px;
  margin: 10px;
  padding: 5px;
  background: white;
}

//////////////
// projects //
//////////////

.image-container img{
  margin: 0;
  border: none;
  @include transition(all, .3s);
}

.image-container img:hover{
  @include scale(1.05);
}

/////////////////////
// project content //
/////////////////////

.pointer{
  height: 25px;
  width: 25px;
  position: absolute;
  background: #fbfbfb;
  opacity: 0;
  @include rotate(45deg);
  top: 0px;
  @include box-shadow-inset(30px, 30px, 30px, -30px, rgba(0, 0, 0, 0.15));
  // z-index: -1;
}

.expand{
  display: none;
}

.expand-temp{
  padding: 50px 20px;
  // padding: 50px calc(50vw - 50%);
  // left: calc(-50vw + 50%);
  // width: 100vw;
  background: #fbfbfb;
  @include box-shadow-inset(0px, 0px, 30px, 0px, rgba(0, 0, 0, 0.15));
}

///////////
// modal //
///////////

.modal-content {
	border-radius: 0;
}

.close {
	opacity: 1;
}

/////////////////////
// generic classes //
/////////////////////

.shadow {
  @include box-shadow(3px, 3px, 10px, 0px, rgba(0, 0, 0, 0.3));
}

.full-size-image {
  height: 100%;
  width: 100%;
}

.pad-top-none {
  margin-top: 0;
}

.pad-top-light {
  margin-top: 10px;
}

.pad-top-med {
  margin-top: 20px;
}

.pad-top-heavy {
  margin-top: 30px;
}

.pad-bot-none {
  margin-bottom: 0;
}

.pad-bot-light {
  margin-bottom: 10px;
}

.pad-bot-med {
  margin-bottom: 20px;
}

.pad-bot-heavy {
  margin-bottom: 30px;
}
